@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#Info {
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 25;
    width: 390px;
    background-color: #f9f9f9;
    clear: both;
}

#sidebar {
    width: 300px;
    min-width: 300px;
    max-width: 350px;
    padding: 20px;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
}
#sidebar h3 {
    margin-bottom: 10px;
}

#map_container {
    flex: 1;
    display: flex;
    height: 100vh;
    transition: width 0.3s ease-in-out;
}
#map_div {
    flex: 1;
    min-width: 500px;
}

.context-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}
.context-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.context-menu button:hover {
    background: #0056b3;
}